@use "@/sass_partials" as *;

.navbar {
  height: 70px;
  width: 100%;
  padding: 0 10%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  span {
    font-size: $text-xlg;
    font-weight: 700;
  }
}

.navbarList {
  display: flex;
  list-style: none;
  li {
    font-size: $text-md;
    margin-left: 40px;
    font-weight: 300;
  }
}

@media only screen and (max-width: 530px) {
  .navbarList {
    display: none;
  }
}
