@use "../sass_partials" as *;

@mixin set-text($size, $weigth, $color) {
  font-size: $size;
  font-weight: $weigth;
  color: $color;
}

.main {
  h1 {
    @include set-text($text-sm, 300, $primary-color);
  }

  h2 {
    @include set-text($text-md, 400, $secondary-color);
  }

  h3 {
    @include set-text($text-xlg, 700, $primary-color);
  }
}
